# PostgreSQL Database URLs (e.g. Supabase, Neon, or local Postgres)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/qse_umbrella?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/qse_umbrella?schema=public"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="super-secret-jwt-key-qse-umbrella-solutions-2026"

# Google OAuth Credentials (Optional in dev)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""